* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.navbar-brand {
    margin-top: 10px;
}

.pbrand {
    font-size: 20px;
    margin-top: -42px;
    margin-left: 70px;
}

ul li .btn-primary {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #28ACDF;
}

ul li .btn-primary:hover {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #1098BF;
}

ul li .btn-secondary {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: #707070;
}

ul li .btn-secondary:hover {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #28ACDF;
    color: #ffffff;
}

.nav-item {
    margin-top: 10px;
    margin-right: 20px;
}

.content1 .align-self-center {
    z-index: 1;
}

.content2 {
    background-color: #F8F8F8;
}

.content3 {
    height: 450px;
}

.footer {
    height: 190px;
    background: #012431;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 200px) {
    .nav-item {
        margin: auto;
        margin-top: 10px;
    }

    ul li .btn-primary {
        width: 250px;
    }

    ul li .btn-secondary {
        width: 250px;
    }

    ul li .btn-primary:hover {
        width: 250px;
        height: 40px;
        border-radius: 20px;
        background-color: #1098BF;
    }

    ul li .btn-secondary:hover {
        width: 250px;
        height: 40px;
        border-radius: 20px;
        background-color: #28ACDF;
        color: #ffffff;
    }

    .bg1 {
        width: 525px;
        height: 301px;
        margin-top: -45px;
    }

    .bg2 {
        margin-left: -200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;
    }

    .content1 h1 {
        font-family: 'Grandstander',
            cursive;
        font-weight: 400;
        letter-spacing: 3px;
        margin-top: 50px;
    }

    .content1 p {
        width: 355px;
        font-family: 'Roboto Mono',
            monospace;
    }

    .content1 hr {
        width: 170px;
        border-top: 1px solid #707070;
    }

    .content2 h1 {
        font-family: 'Grandstander',
            cursive;
        font-weight: 400;
        letter-spacing: 3px;
        margin-left: -80px;
    }

    .content2 hr {
        width: 170px;
        border-top: 1px solid #707070;
        margin-left: -80px;
    }

    .content2 p {
        width: 280px;
        font-family: 'Roboto Mono',
            monospace;
        margin-left: -80px;
    }

    .content2 .col-5 h4 a {
        text-decoration: none;
        color: #868686;
        letter-spacing: 5px;
        font-family: 'Roboto Mono',
            monospace;
        margin-left: -80px;
    }

    .content3 p {
        padding-top: 70px;
        font-family: 'Roboto Mono',
            monospace;
        font-size: 25px;
        width: 450px;
        text-align: center;
        letter-spacing: 4px;
        margin: 0 auto;
        margin-left: -40px;
    }

    .content3 hr {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 170px;
        border-top: 1px solid #707070;
    }

    .content3 img {
        width: 350px;
        height: 150px;
        padding: 5px;
        margin-left: 0px;
    }

    .footer p {
        font-family: 'Roboto Mono',
            monospace;
        font-size: 15px;
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;
        color: white;
    }

    .footer hr {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 140px;
        border-top: 1px solid #f8f8f8;
    }

    .parent {
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        width: 285px;
    }

    .footer .copyright {
        color: #888888;
        font-size: 9px;
        margin-top: -35px;
    }

    .footer img {
        height: 160px;
        width: 120px;
        margin-top: -115px;
        margin-bottom: 0px;
        z-index: -1;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-item {
        margin-right: 20px;
    }

    ul li .btn-primary {
        margin-right: -8px;
        width: 100px;
        height: 40px;
    }

    ul li .btn-secondary {
        width: 100px;
        height: 40px;
    }

    ul li .btn-primary:hover {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: #1098BF;
    }

    ul li .btn-secondary:hover {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: #28ACDF;
        color: #ffffff;
    }

    .bg1 {
        width: 1005px;
        height: 631px;
        margin-top: 35px;
        margin-left: -190px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bg2 {
        margin-left: -118px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;
    }

    .content2 h1 {
        font-family: 'Grandstander',
            cursive;
        font-weight: 400;
        letter-spacing: 3px;
        margin-left: 0px;
    }

    .content2 hr {
        width: 170px;
        border-top: 1px solid #707070;
        margin-left: 0px;
    }

    .content2 p {
        width: 355px;
        font-family: 'Roboto Mono',
            monospace;
        margin-left: 0px;
    }

    .content2 .col-5 h4 a {
        text-decoration: none;
        color: #868686;
        letter-spacing: 5px;
        font-family: 'Roboto Mono',
            monospace;
        margin-left: 0px;
    }

    .content3 p {
        padding-top: 70px;
        font-family: 'Roboto Mono',
            monospace;
        font-size: 30px;
        width: 450px;
        text-align: center;
        letter-spacing: 4px;
        margin: 0 auto;
    }

    .content3 hr {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 170px;
        border-top: 1px solid #707070;
    }

    .content3 img {
        width: 350px;
        height: 150px;
        padding: 5px;
        margin-left: 190px;
    }

    .footer p {
        font-family: 'Roboto Mono',
            monospace;
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;
        color: white;
    }

    .footer hr {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 170px;
        border-top: 1px solid #f8f8f8;
    }

    .parent {
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        width: 355px;
    }

    .footer .copyright {
        color: #888888;
        font-size: 15px;
        margin-top: -35px;
    }

    .footer img {
        height: 190px;
        width: 150px;
        margin-top: -150px;
        margin-bottom: 0px;
        z-index: -1;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    ...
}

/* Akhir Navbar */